/* ================= DESKTOP ONLY ================= */
@media (min-width: 768px) {

  .layout {
    max-width:1200px;
    margin:0 auto;
  }

  .side-menu {
    position:sticky;
    top:110px;
  }

  .content-area {
    padding-right:20px;
  }

}
