@media (max-width: 767px) {

  /* HEADER */
  .header {
    flex-direction:column;
    align-items:center;
    height:auto;
    padding:12px;
    text-align:center;
  }

  .header-right {
    margin-top:6px;
    text-align:center;
  }

  /* MAIN */
  #mainSection {
    height:auto;
    overflow:auto;
  }

  .main-bg {
    background-attachment: scroll;
  }

  /* SIDE MENU */
  .side-menu {
    position: static;
    width: auto;
    margin: 16px;
    border-radius:16px;
  }

  /* CONTENT */
  .content-area {
    margin-left: 0;
    padding: 16px;
    height: auto;
  }

  .detail {
    min-height: auto;
    padding: 20px;
  }
}
